.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.body {
    padding: 10px;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}

.nav-items > ul > li {
    padding: 10px;
}

.nav-items > ul > li > Link {
    text-decoration-line: none;
}

.res-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    width: 220px;
    margin: 5px;
    background-color:rgb(231, 231, 231);
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-image {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    padding: 5px;
    width: 220px;
    height: 220px;
    margin: 5px;
    background-color:rgb(243, 243, 243);
}

.login-btn {
    padding: 10px;
}

.search {
    margin: 10px;
}